<div class="row mt-3">
  <div class="col-md-3">
    <mat-form-field>
      <input matInput [matDatepicker]="dp1" placeholder="Start Date(MM/DD/YYYY)" [formControl]="startDateControl" required>
      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
      <mat-datepicker #dp1></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <mat-form-field>
      <input matInput [matDatepicker]="dp2" placeholder="From Date (MM/DD/YYYY)" [formControl]="endDateControl" required>
      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
      <mat-datepicker #dp2></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-md-1">
    <button mat-mini-fab color="primary" (click)="getExpense()">
      <mat-icon> arrow_forward</mat-icon>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-6" *ngFor="let expense of expenseList">
    <mat-card class="mb-3 card h-100">
      <mat-card-title>{{expense.expenseDate | date: 'dd-MM-yyyy'}}</mat-card-title>
      <div class="row" *ngFor="let item of expense.ExpenseDetails">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6">
              <span class="text-danger">
                <h5>{{item.categoryObj._id.category}}</h5>
              </span>
            </div>
            <div class="col-sm-6 text-right">
              <button class="edit-expense-cat" mat-icon-button aria-label="Example icon-button with a heart icon"
                matTooltip="Add category " (click)="editCategory(expense.expenseDate, item.categoryObj,expense._id)">
                <mat-icon class="pointer;">edit</mat-icon>
              </button>
            </div>
          </div>
          <div class="row" *ngFor="let categoryItem of item.categoryObj.subCategory">
            <div class="col-6">
              <span>{{categoryItem.name}}</span>
            </div>
            <div class="col-6 text-right">
              <span>{{categoryItem.amount}}</span>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>