.scroll-container {
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.scroll-container::-webkit-scrollbar{
	display:none;
}
.scroll-container > .category-card {
  display: inline-block;
  width: 200px;
  white-space: pre;
  word-wrap: break-word;
}

.subcategory-section {
  min-height: 55vh;
  max-height: 55vh;
  overflow-y: scroll;
}