<!-- Date picker -->
<div class="row">
  <mat-form-field class="offset-sm-8 col-sm-4">
    <input matInput [matDatepicker]="dp" placeholder="Expense Date" (dateInput)="addEvent( $event)"
      (dateChange)="addEvent( $event)" required>
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>
  <!-- <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Angular forms" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field> -->
</div>

<!-- Category section -->
<div class="row">
  <div class="col-sm-2 mb-3 text-center" *ngFor="let category of category_list">
    <mat-card [value]="category._id" (click)="getSubcategory(category._id)">
      <p>{{category.category}}</p>
    </mat-card>
  </div>
</div>

<!-- Subcategory accordion -->
<div class="row subcategory-section">
  <div class="col-sm-12">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel hideToggle *ngFor="let subcategory of subcategory_list" [value]="subcategory">
        <mat-expansion-panel-header>

          <mat-panel-title>
            {{subcategory?.name}}
          </mat-panel-title>
          <mat-icon> add </mat-icon>

        </mat-expansion-panel-header>
        <!-- <form [formGroup]="formSubCategory"> -->

        <mat-form-field>
          <input type="number" matInput placeholder="Amount" [(ngModel)]="subcategory.amount"
            [ngModelOptions]='{standalone:true}'>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Payment Mode</mat-label>
          <mat-select [(ngModel)]="subcategory.paymentMode" [ngModelOptions]='{standalone:true}' ngDefaultControl
          matNativeControl required>
            <mat-option *ngFor="let payment of paymentModes" [value]="payment">
            {{payment}}
            </mat-option>
          </mat-select>
          <!-- <input matInput placeholder="Payment Mode" [(ngModel)]="paymentMode"> -->
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="col-sm-12">
  <button type="button" mat-raised-button class="btn btn-block col-sm-2 mr-3" (click)="ngOnInit()">RESET</button>
  <button type="submit" mat-raised-button class="btn btn-block col-sm-2" color="primary" (click)="onSave()"
  [disabled]="!validation">
    SAVE
    <i class="fas fa-spinner ml-2" *ngIf="showLoading"></i>
  </button>
</div>