.mat-sidenav {
  width: 25%;
}

.navbarheader{
  background-color: #44318D;  
}

mat-sidenav {
  font-weight: bold;
  font-size: 15px;
  // color: #818181;
  display: block;
}

mat-sidenav a {
  font-size: 20px;
}

mat-sidenav a:hover {
  color:black;
  font-weight: bold;
}

.expense:hover {
  border-color:grey;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
