.mat-sidenav  {
  height: 100%;
  width: 25%;
  // background-color: #111;
}
.navbarheader{
  background-color: #44318D;
  
}
mat-sidenav {
  font-weight: bold;
  font-size: 15px;
  color: #818181;
  display: block;
}

mat-sidenav a {
  font-size: 20px;
}

mat-sidenav a:hover {
  color: white;
}
.offset-sm-6 {
  margin-left: 34%;
}
.col-sm-3 {
  
  max-width: 18%;
}

.expense:hover {
  border-color:white;
}
