<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <!-- <router-outlet></router-outlet> -->
  <div class="row">
    <div class="col-sm-6">
      <h5 class="mt-4">Welcome to {{ title }}!</h5>
    </div>
    <div class="col-sm-6 mt-4 text-right">
      <button mat-raised-button routerLink='list-user' class="mr-3">User master</button>
      <button mat-raised-button routerLink='list-category'>Category master</button>
      <button mat-raised-button routerLink='list-role'>Role master</button>
    </div>
  </div>
</div>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
