.element {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    // left: 0 ;
  }
.parent{
    position: relative;
}
//   .element {
//     color: white;
//     float: right;
//     font-size: 28px;
//     font-weight: bold;
//     right: 200;
//     top: 0px;
//   }
//   .modal-header {
//     padding: 20px 160px;
//     background-color: #5cb85c;
//     color: white;
//   }