<div class="row">
    <div class="offset-sm-3 col-sm-6 mt-4">

        <!-- <button type="submit" color="primary" mat-raised-button>
            Login
            <i class="fas fa-spinner fa-spin ml-2"></i>
        </button>
        <br>
        <i class="fas fa-spinner ml-2"></i>
        <br> -->
        <mat-card>
            <form [formGroup]="loginForm" (submit)=" onLogin()">
                <div class="col-sm-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="e.g. some@domain.com" required>
                    </mat-form-field>
                </div>
                <div class="col-sm-12">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                        <mat-icon matSuffix (click)="unhide()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-sm-12">
                    <button type="submit" color="primary" [disabled]="loginForm.invalid || !loginForm.dirty || showLoading"
                        mat-raised-button>Login
                        <mat-icon class="icn-spinner ml-2" *ngIf="showLoading"> rotate_right </mat-icon>
                    </button>
                </div>
                <div class="col-sm-12" >
                    <a  class="secondary-color"href="">Forgot password ?</a>
                </div>
            </form>
        </mat-card>

    </div>
</div>