<div>
<div class="row">
    <div class="col-sm-6">
        Add Category
    </div>
    <!-- <div> -->
            <mat-form-field class="col-sm-6">
                    <input matInput [matDatepicker]="dp" placeholder="Expense Date"[formControl]="date"  required>
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                  </mat-form-field>
    <!-- </div> -->
</div>
    <mat-list>
        <mat-list-item *ngFor="let expense of list_category" [value]="expense._id"
            (click)="addSubcategory(expense._id)">
            {{expense.category}}
        </mat-list-item>
    </mat-list>


</div>

















<!-- <div class="offset-sm-2 col-sm-2 text-right">
  <button matTooltip="Go to category list" routerLink="/expense" mat-mini-fab class="mat-mini-fab-white"
      type="button">
      <mat-icon class="pointer;">arrow_back</mat-icon>
  </button>
</div> -->


<mat-accordion class="example-headers-align">
    <mat-expansion-panel hideToggle *ngFor="let subcategory of subcategory_list" [value]="subcategory">
      <mat-expansion-panel-header>
  
        <mat-panel-title>
          {{subcategory?.name}}
        </mat-panel-title>
        <mat-icon> add </mat-icon>
  
      </mat-expansion-panel-header>
      <!-- <form [formGroup]="formSubCategory"> -->
       
          <mat-form-field>
            <input  type="number" matInput placeholder="Amount" [(ngModel)]="subcategory.amount" [ngModelOptions]='{standalone:true}'>
          </mat-form-field>
        <mat-form-field>
                <mat-label >Payment Mode</mat-label>
                <select [(ngModel)] = "subcategory.paymentMode"[ngModelOptions]='{standalone:true}' ngDefaultControl matNativeControl required>
                  <option value="Cash">Cash</option>
                  <option value="Debit card">Debit card</option>
                  <option value="Credit card">Credit card</option>
                  <option value="Paytm">Paytm</option>
                </select> 
          <!-- <input matInput placeholder="Payment Mode" [(ngModel)]="paymentMode"> -->
        </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="col-sm-12">
      <button type="button" mat-raised-button class="btn btn-block col-sm-2 mr-3"
        (click)="ngOnInit()">RESET</button>
      <button type="submit" mat-raised-button class="btn btn-block col-sm-2" color="primary"
       (click)="onSave()">
        SAVE
        <i class="fas fa-spinner ml-2" *ngIf="showLoading"></i>
      </button>
    </div>