<div class="offset-sm-3 col-sm-6">
    <mat-card>
    <form [formGroup]="resetForm" (submit)="onChangesPassword()">
        <!-- <div class="col-sm-12">
            <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="e.g. some@domain.com" required>
            </mat-form-field>
        </div> -->
        <div class="col-sm-12">
                <mat-form-field  appearance="outline">
                        <mat-label>Current Password</mat-label>
                    <!-- <input type="password"id="typepass" matInput formControlName="password" required> -->
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-sm-12">
                <mat-form-field  appearance="outline">
                        <mat-label>New Password</mat-label>
                    <!-- <input type="password" id="typepass" matInput formControlName="newpassword" required> -->
                    <input matInput placeholder="Password" [type]="hideNew ? 'password' : 'text'" formControlName="newpassword" required>
                        <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-sm-12">
                <mat-form-field  appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                    <!-- <input type="password" id="typepass" matInput formControlName="confirmpassword" required> -->
                    <input matInput placeholder="Password" [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmpassword" required>
                        <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-sm-12">
                <button type="submit" mat-raised-button color="primary"
                [disabled]="resetForm.invalid || !resetForm.dirty">Change Password</button>
            </div>
                       
    </form>
    </mat-card>
    
    </div>