<div class="row mt-4">
  <div class="offset-sm-2 col-sm-4 mt-2">
    <h5>Save User</h5>
  </div>
  <div class="offset-sm-2 col-sm-2 text-right">
    <button matTooltip="GO TO USER LIST" routerLink="/list-user" mat-mini-fab class="mat-mini-fab-white" type="button">
      <mat-icon class="pointer;">arrow_back</mat-icon>
    </button>
  </div>
</div>

<div class="row mt-4">
  <div class="offset-sm-2 col-sm-8">
    <mat-card>
      <form [formGroup]="userForm" (ngSubmit)="saveUserProfile()">

        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input matInput formControlName="firstName" placeholder="First name">
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input matInput formControlName="lastName" placeholder="Last name">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="example-full-width">
                <input matInput formControlName="password" type="password" placeholder="Password">
                <mat-hint class="text-warning">Note: Password must include  - at least 8 characters,
                    Lowercase letter, Uppercase letter, Number, Special character</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="example-full-width">
                <input matInput formControlName="email" placeholder="Email">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="example-full-width">
                <input matInput formControlName="mobile" placeholder="Mobile number">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Role" formControlName="role">
                  <mat-option *ngFor="let item of list_role" [value]="item">
                    {{item.role_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <br/>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <!-- <button type="button" mat-raised-button class="btn btn-block col-sm-2 mr-3" (click)="ngOnInit()">RESET</button> -->
              <button type="button" mat-raised-button class="btn btn-block col-sm-2 mr-3" (click)="findInvalidControls()">RESET</button>
              <button type="submit" mat-raised-button class="btn btn-block col-sm-2" color="primary"
                [disabled]="userForm.invalid || !userForm.dirty">
                SAVE
                <i class="fas fa-spinner ml-2" *ngIf="showLoading"></i>
              </button>
            </div>
          </div>
        </div>

      </form>
    </mat-card>
  </div>
</div>
