<div class="row mt-4">
    <div class="offset-sm-2 col-sm-8">
        <mat-card>
            <div class="row">
                <div class="mt-4 col-sm-12">
                    <h4>Budget</h4>
                </div>
                <div class="mt-2 col-sm-12">
            
                    <h5 class="mt-2 text-success">Create a saving Goal</h5>
                </div>
            </div>
            <form [formGroup]="budgetForm">
                <div class="row">
                    <div class="col-md-12">
                        <label class="mt-2 ">Select Period </label><br>
                        <mat-button-toggle-group  formControlName="type" >
                            <mat-button-toggle *ngFor="let item of selectionButtonArray" [value]="item">{{item}}</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-2 ">
                        <mat-form-field>
                            <input matInput type ="number"placeholder="Budget Amount" formControlName="value" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>First Trigger</label><br>
                        <mat-slider class="example-margin" [step]=5 thumbLabel  min="10" max="90"
                            formControlName="firstTrigger" required >
                        </mat-slider>
                        <label>
                            {{budgetForm.get('firstTrigger').value}}
                        </label>
                    </div>
                </div>
                <mat-hint class="text-danger">Note: minimum 10% in mandatory </mat-hint>
                <div class="row">
                    <div class="col-md-12">
                        <label>Last Trigger</label> <br>
                        <mat-slider class="example-margin" [step]=5 thumbLabel [(ngModel)]="lastTriggerValue"
                         [min]="budgetForm.get('firstTrigger').value" max="90"  [thumbLabel]='true'
                            formControlName="lastTrigger" (change)="lastTriggerChange($event)">
                        </mat-slider>
                        <label>
                            {{budgetForm.get('lastTrigger').value}}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" mat-raised-button class="btn btn-block col-sm-2 mr-3"
                            (click)="ngOnInit()">RESET</button>
                        <button type="submit" (click)=" onSave()" routerLink="/dashboard" mat-raised-button class="btn btn-block col-sm-2" color="primary"
                            [disabled]="(budgetForm.invalid || !budgetForm.dirty) || showLoading">
                          SAVE
                            <i class="fas fa-spinner ml-2" *ngIf="showLoading"></i>
                        </button>
                    </div>
                </div>
            </form>    
        </mat-card>
    </div>
</div>

