<div class="row mt-4">
    <div class="offset-sm-2 col-sm-8">
        <mat-card>
            <div class="row">
                <div class="mt-4 col-sm-12">
                    <h4>Buget</h4>
                </div>
                <div class="mt-2 col-sm-12">
            
                    <h5 class="mt-2 text-success">Create a saving Goal</h5>
                </div>
            </div>
            <form [formGroup]="budgetForm">
                <div class="row">
                    <div class="col-md-12">
                        <label class="mt-2 ">Select Period </label><br>
                        <button mat-raised-button *ngFor="let item of selectionButtonArray"
                            [ngClass]="selection == item ? 'selected-button' :''" class="mr-2 text-capitalize"
                            (click)="setPeriod(item)">{{item}}</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-2 ">
                        <mat-form-field>
                            <input matInput placeholder="value" formControlName="value" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>firstTrigger</label><br>
                        <mat-slider class="example-margin" [step]=5 thumbLabel  min="5" max="100"
                            formControlName="firstTrigger" required>
                        </mat-slider>
                        <label>
                            {{budgetForm.get('firstTrigger').value}}
                        </label>
                    </div>
                </div>
                <mat-hint class="text-danger">Note: minimum 10% in mandatory </mat-hint>
                <div class="row">
                    <div class="col-md-12">
                        <label>lastTrigger</label> <br>
                        <mat-slider class="example-margin" [step]=5 thumbLabel [(ngModel)]="lastTriggerValue" min="5" max="100"
                            formControlName="lastTrigger">
                        </mat-slider>
                        <label>
                            {{budgetForm.get('lastTrigger').value}}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- <button type="button" mat-raised-button class="btn btn-block col-sm-2 mr-3"
                            (click)="ngOnInit()">RESET</button> -->
                        <button type="submit" (click)=" onSave()" mat-raised-button class="btn btn-block col-sm-2" color="primary">
                            SAVE
                            <i class="fas fa-spinner ml-2" *ngIf="showLoading"></i>
                        </button>
                    </div>
                </div>
            </form>    
        </mat-card>
    </div>
</div>

