/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


html,body{
  height: 100%;
  font-family: 'Nunito' !important;
}
body * :not(mat-icon){ 
  font-family: 'Nunito' !important;
}

/* Material element CSS */
mat-form-field {
  width: 100%;
}

mat-icon {
  cursor: pointer;
}
/* Material element CSS */
 th.mat-header-cell  {
  font-size: 110%;
    
}
 td.mat-cell, td.mat-footer-cell{
  font-size: 100%;
}
.mat-icon-delete {
  color: #ff1414 !important;/* You can add global styles to this file, and also import other style files */
  @import "~bootstrap/dist/css/bootstrap.css";
  @import '~@angular/material/prebuilt-themes/indigo-pink.css';
  
  
  html,body {
    height: 100%;
    font-family: 'Nunito' !important;
  }
  body * :not(mat-icon){
   
    font-family: 'Nunito' !important;
  }
  
  /* Material element CSS */
  mat-form-field {
    width: 100%;
  }
  
  mat-icon {
    cursor: pointer;
  }
  /* Material element CSS */
   th.mat-header-cell  {
    font-size: 110%;
      
  }
   td.mat-cell, td.mat-footer-cell{
    font-size: 100%;
  }
  .mat-icon-delete {
    color: #ff1414 !important;
  }
  /* Material element CSS */
  
  .clickable {
    cursor: pointer;
  }
  
  /* Table CSS */
  table {
    width: 100%;
  }
  
  .table-container  {
    min-height: 70vh;
    max-height: 70vh;
    overflow: auto;
    background-color:white
  
  }
  /* Table CSS */
  
  /* Snackbar CSS */
  .green-snackbar {
    background: #32CD32
  }
  
  .red-snackbar {
    background: #F44336;
  }
  /* Snackbar CSS */
  
  @-webkit-keyframes spin {
    0% { -webkit-transform : rotate(0deg)};
    100% { -webkit-transform : rotate(360deg)};
  }
  
  @keyframes spin {
    0% { transform : rotate(0deg)};
    100% { transform : rotate(360deg)};
  }
  
  
  
  
  //* background colour *//
  
  
  
  .mat-drawer-content{
    background-color:#FFF5EE;
  
  }
  
  //* background colour *//
  
  
}
/* Material element CSS */

.clickable {
  cursor: pointer;
}

/* Table CSS */
table {
  width: 100%;
}

.table-container  {
  min-height: 70vh;
  max-height: 70vh;
  overflow: auto;
  background-color:white

}
/* Table CSS */

/* Snackbar CSS */
.green-snackbar {
  background: #32CD32
}

.red-snackbar {
  background: #F44336;
}
/* Snackbar CSS */

@-webkit-keyframes spin {
  0% { -webkit-transform : rotate(0deg)};
  100% { -webkit-transform : rotate(360deg)};
}

@keyframes spin {
  0% { transform : rotate(0deg)};
  100% { transform : rotate(360deg)};
}




//* background colour *//



.mat-drawer-content{
  background-color:#FFF5EE;

}

//* background colour *//

